<a href="https://colab.research.google.com/github/HarshithGit7/COE/blob/main/Assignment_Store_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment on Store_sales dataset

**Load the Dataset**

In [22]:
import pandas as pd

df=pd.read_csv(r"/content/store_sales.csv")
df

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9

**Calculate the total sales for each store across all months.**

In [29]:
df["total_sales"] = df.loc[:, "Jan":"Dec"].sum(axis=1)
e=df.groupby("store_id")["total_sales"].sum()
e

store_id
S_1      178
S_10     178
S_100    180
S_11     196
S_12     164
        ...
S_95     176
S_96     185
S_97     154
S_98     168
S_99     173
Name: total_sales, Length: 100, dtype: int64

**Find the average sales for each month across all stores**

In [30]:
e=df.loc[:, "Jan":"Dec"].mean()
e

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

**Identify the store with the highest total sales.**

In [31]:
a=df[df["total_sales"] == df["total_sales"].max()][["store_id", "total_sales"]]
a

   store_id  total_sales
61     S_62          214
85     S_86          214

**Calculate the total sales for each city.**

In [33]:
a=df.groupby("city")["total_sales"].sum()
a

city
Arizona       3951
California    7522
Texas         5939
Name: total_sales, dtype: int64

**List stores with total sales greater than 200**

In [34]:
a=df[df["total_sales"] > 200][["store_id", "total_sales"]]
a

   store_id  total_sales
37     S_38          207
39     S_40          204
50     S_51          210
61     S_62          214
69     S_70          206
72     S_73          213
77     S_78          211
85     S_86          214
86     S_87          203
92     S_93          204

**Which month had the highest average sales across all stores?**

In [45]:
a = df.loc[:, "Jan":"Dec"].mean(axis=0)
a

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

In [46]:
e = a[a == a.max()]
e

Aug    15.81
dtype: float64

**Which city generated the most revenue?**

In [47]:
a = df.groupby("city")["total_sales"].sum()
b = a[a == a.max()]
b

city
California    7522
Name: total_sales, dtype: int64